# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.production.local

# Build folders
dist/
.next/

# Coverage
coverage/

# macOS
.DS_Store

# Logs
*.log

# Editor
.vscode/

# Temporary files
*.tmp
